.navbar{
    background-color: #2c3e50;
}

.section-navbar{
    color: white;
}
.navbaritem{
    color: white;
}


.section-avatar{
    background-color: #1abc9c;
}

.avatar-img{
    border-radius: 50%;
}

.avatar-text{
    color: white;
}


.section-about{
    background-color: #1abc9c;
}

.about-text{
    color: white;
}

.about-button{
    width:auto; height: auto;
}



.form-control {
    border: none !important;
    border-bottom: 1px solid grey !important;
}

.contact-button{
    background-color: #1abc9c !important;
}


.footer{
    background-color: #2c3e50;
}

.footer-text{
    color: white;
}

.logobutton{
    border-radius: 50% !important;
}